.chat-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-image: url(../../img/Untitled-design.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: Arial, sans-serif;
}

.chat-box {
    width: 350px;
    height: 300px;
    border-radius: 10px;
    background: #fff;
    color: black;
    padding: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.message {
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 8px;
    max-width: 80%;
    color: black;
}

.message.received {
    background: #f1f1f1;
    align-self: flex-start;
}

.message.sent {
    background: #4facfe;
    color: white;
    align-self: flex-end;
}


select,
button {
    width: 20%;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

textarea {
    width: 20%;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    height: 400px;
}

.translateButton {
    background: black;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    position: absolute;
    bottom: 3%;
}

button:hover {
    background-color: #4facfe;
}

@media (max-width: 400px) {
    .chat-box {
        width: 90%;
    }

    input,
    select,
    button {
        width: 95%;
    }
}

.translatorTitle {
    position: absolute;
    display: flex;
    top: 12%;
    left: 40%;
    text-shadow: 2px 2px black;
}