.navbar {
    background-color: #282c34;
    color: white;
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 100%;
}

.user-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}


.navbar-brand img {
    width: 90px;
    height: 70px;
    z-index: 2;
}

.navbar-links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
    gap: 20px;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    margin-right: 1rem;
    position: relative;
    z-index: 0;
    transition: 1s;
    padding: 10px 20px;
}

.navbar-links a::before,
.navbar-links a::after {
    position: absolute;
    background: #282c34;
    z-index: -1;
    transition: 1s;
    content: '';
}

.navbar-links a::before {
    height: 100%;
    width: calc(100% - 20px);
    top: 0;
    left: 10px;
}

.navbar-links a::after {
    width: 100%;
    height: calc(100% - 20px);
    top: 10px;
    left: 0;
}

.navbar-links a:hover::before {
    width: 0;
    background: #fff;
}

.navbar-links a:hover::after {
    height: 0;
    background: #fff;
}

.navbar-links a:hover {
    color: #111;
    background: #fff;
}

.navbar-links button {
    background: linear-gradient(135deg, #6b73ff, #000dff);
    color: white;
    border: none;
    padding: 0.8em;
    width: 90px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.link-style {
    text-decoration: none;
    color: #111;
}